---
import Layout from '../../layouts/Layout.astro'
import Section from '../../components/Section.astro'
import { fetchArticles } from '../../lib/directus'
import ArticleItem from '../../components/home/ArticleItem.astro'
import ArticleList from '../../components/home/ArticleList.astro'

const articles = await fetchArticles({ limit: 500 })
---

<Layout title='Blog'>
	<Section>
		<div slot='headline'>
			<h1>Blog articles</h1>
			<p class='text-xl text-balance'>
				Here I share some guides and tips about web development, design, and more.<br />Let me know what you want read
				about!
			</p>
		</div>

		<ArticleList>
			{articles.map(article => <ArticleItem position='blog-index' article={article} />)}
		</ArticleList>
	</Section>
</Layout>
