---
import ButtonLink from '../components/ButtonLink.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='404'>
	<Section>
		<div class='text-center'>
			<h1>Error 404</h1>
			<p>Page not found</p>
			<div class='mt-8'>
				<ButtonLink href='/'>Home</ButtonLink>
			</div>
		</div>
	</Section>
</Layout>
