---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
---

<Layout title='About me'>
	<Section>
		<div class='flex flex-col gap-10'>
			<div>
				<h1 transition:name='h1-secondary'>About me</h1>
				<p class='text-xl'>xx</p>
			</div>

			<div class='h-[2000px]'></div>
		</div>
	</Section>
</Layout>
