---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
---

<Layout title='About me'>
	<Section>
		<div slot='headline'>
			<h1>About me</h1>
			<p class='text-xl'>xx</p>
		</div>

		<div class='h-[2000px]'></div>
	</Section>
</Layout>
