---
import { getImage } from 'astro:assets'
import noiseImg from '../assets/noise.png'
import backgroundImg from '../assets/background.webp'
import { Image } from 'astro:assets'

type Props = {
	type?: 'default' | 'header'
}

const { type = 'default' } = Astro.props

const optimizedNoiseImg = await getImage({ src: noiseImg, width: 900, height: 600, format: 'webp' })
---

<div class='absolute z-0 size-full inset-0 overflow-hidden' aria-hidden='true'>
	<Image
		class:list={['block absolute inset-0 object-cover', type === 'default' ? 'size-full' : 'lg:size-full']}
		src={backgroundImg}
		width={900}
		height={563}
		alt=''
		loading='eager'
		fetchpriority='high'
		format='webp'
	/>

	<div
		class='size-full bg-repeat opacity-5 block'
		style={`background-image: url(${optimizedNoiseImg.src}); background-size: 300px 200px;`}>
	</div>
</div>
