---
import { getImage } from 'astro:assets'
import noiseImg from '../assets/noise.png'

const optimizedNoiseImg = await getImage({
	src: noiseImg,
	width: 900,
	height: 600,
	format: 'webp',
})
---

<div class='absolute z-0 size-full inset-0'>
	<svg
		class='absolute inset-0 h-full lg:size-full'
		width='1440'
		height='900'
		viewBox='0 0 1440 900'
		fill='none'
		xmlns='http://www.w3.org/2000/svg'>
		<g clip-path='url(#clip0_2001_127)'>
			<g filter='url(#filter0_f_2001_127)'>
				<path
					d='M1025 607C980 610 417 111 377 135C341 157 958 280 952 320C949 342 307 301 325 320C365 362 435 584 489 584C557 583 636 355 704 354C721 354 713 360 707 371C695 390 499 396 489 416C468 460 639 519 626 566C614 606 603 645 556 655C542 658 527 657 513 654C477 648 441 638 407 627C397 625 280 584 296 569C303 563 318 561 325 560C370 551 416 546 462 539C586 521 990 170 1112 135C1155 122 926 449 932 399C937 364 937 327 931 292C931 291 922 262 925 260C933 253 962 255 973 254'
					class='stroke-primary'
					stroke-opacity='0.1'
					stroke-width='100'
					stroke-linecap='round'></path>
				<path
					d='M1004 191C928 197 845 235 829 315C810 406 920 458 979 505M1128 548C1150 546 1323 474 1347 472C1356 471 1262 536 1272 535C1275 534 1279 534 1281 532C1282 529 1185 500 1182 499C1162 493 1121 488 1105 472C1097 463 1112 425 1113 415C1118 367 1103 317 1084 274C1076 255 1066 238 1061 219'
					class='stroke-primary'
					stroke-opacity='0.1'
					stroke-width='100'
					stroke-linecap='round'></path>
				<path
					d='M123 131C47 180 240 324 243 405C245 469 270 588 353 588C368 588 379 596 392 603C460 634 940 682 1012 702C1036 708 672 677 680 706C682 712 681 715 676 718C675 719 671 720 673 719C695 705 722 698 744 684C786 658 819 623 830 573C844 518 1193 242 1156 198M605 495C775 565 278 492 652 287C665 324 700 513 732 534C777 563 1189 714 1241 702C1248 700 898 555 887 549C871 541 851 545 835 549C777 560 729 581 680 613C651 633 635 816 605 835C594 842 576 681 588 675C629 658 670 645 712 632C744 622 775 611 807 604C821 600 842 594 857 595C862 596 827 642 825 645C801 679 785 720 801 763C804 769 823 636 835 631C844 627 815 767 815 767C780 739 738 721 696 706C635 684 546 770 481 763C438 758 167 766 124 767C110 767 347 656 334 663C332 664 321 673 329 674C357 681 401 661 425 649C434 645 297 146 273 131C253 118 437 596 425 612C411 629 405 653 406 675C406 678 413 699 410 702C401 714 372 719 359 722C342 727 231 653 217 663'
					class='stroke-primary'
					stroke-opacity='0.1'
					stroke-width='100'
					stroke-linecap='round'></path>
			</g>
		</g>
		<defs>
			<filter
				id='filter0_f_2001_127'
				x='-108.013'
				y='-65.9985'
				width='1655.23'
				height='1028.99'
				filterUnits='userSpaceOnUse'
				color-interpolation-filters='sRGB'>
				<feFlood flood-opacity='0' result='BackgroundImageFix'></feFlood>
				<feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'></feBlend>
				<feGaussianBlur stdDeviation='75' result='effect1_foregroundBlur_2001_127'></feGaussianBlur>
			</filter>
			<clipPath id='clip0_2001_127'>
				<rect width='1440' height='900' fill='white'></rect>
			</clipPath>
		</defs>
	</svg>

	<div
		class='size-full bg-repeat opacity-5 block'
		style={`background-image: url(${optimizedNoiseImg.src}); background-size: 300px 200px;`}>
	</div>
</div>
