---
import { getImage } from 'astro:assets'
import noiseImg from '../assets/noise.png'

type Props = {
	type?: 'default' | 'header'
}

const { type = 'default' } = Astro.props

const optimizedNoiseImg = await getImage({
	src: noiseImg,
	width: 900,
	height: 600,
	format: 'webp',
})
---

<div class='absolute z-0 size-full inset-0 overflow-hidden'>
	<svg
		class=''
		class:list={['absolute inset-0', type === 'default' ? 'h-full lg:size-full' : 'lg:size-full']}
		width='1440'
		height='900'
		viewBox='0 0 1440 900'
		fill='none'
		xmlns='http://www.w3.org/2000/svg'>
		<g clip-path='url(#clip0_2001_127)'>
			<g filter='url(#filter0_f_2001_127)'>
				<path
					d='M985.52 560.35C944.902 562.787 445.19 119.049 409.774 140.658C377.38 160.424 926.126 269.348 920.627 304.982C917.608 324.545 346.868 288.366 362.845 304.982C398.761 342.334 460.791 540.341 509.045 539.904C569.262 539.358 640.056 336.436 700.178 335.381C715.21 335.117 708.343 340.87 702.419 350.37C692.02 367.046 517.55 373.234 509.045 391.005C490.359 430.052 642.384 481.997 630.694 523.519C620.489 559.764 610.457 594.348 568.775 603.37C556.059 606.122 542.986 604.458 530.39 602.249C498.606 596.676 466.611 588.175 435.831 578.574C427.539 575.988 323.499 539.575 337.769 526.461C343.679 521.031 357.269 519.286 363.265 518.196C403.479 510.884 444.321 506.396 484.722 500.265C595.377 483.471 954.584 171.56 1062.41 140.658C1101.04 129.587 897.146 420.08 903.166 375.306C907.384 343.935 907.494 311.419 902.185 280.186C902.009 279.149 894.23 253.763 896.581 251.748C903.894 245.48 929.885 247.225 938.888 246.145'
					class='stroke-primary'
					stroke-opacity='0.1'
					stroke-width='100'
					stroke-linecap='round'></path>
				<path
					d='M966.626 190.669C899.433 195.751 825.222 229.738 810.847 301.199C794.619 381.877 892.349 427.788 944.772 469.725M1077.3 507.829C1096.22 506.402 1250.09 442.348 1271.32 440.167C1279.94 439.281 1196.25 497.625 1204.78 496.062C1207.51 495.561 1211.5 495.803 1212.62 493.26C1213.45 491.367 1127.73 465.298 1124.79 464.402C1107.32 459.085 1070.84 454.304 1056.7 440.167C1049.06 432.526 1063.02 398.197 1063.85 389.315C1067.82 346.671 1054.7 302.572 1037.65 263.936C1030.43 247.56 1021.86 232.686 1017.06 215.885'
					class='stroke-primary'
					stroke-opacity='0.1'
					stroke-width='100'
					stroke-linecap='round'></path>
				<path
					d='M184.068 137.227C115.687 181.022 287.538 308.359 289.999 380.768C291.923 437.401 314.087 543.69 388.481 543.69C401.834 543.69 410.769 551.001 422.803 556.579C483.002 584.482 910.278 627.136 973.896 644.554C995.356 650.429 671.267 622.412 678.885 648.757C680.224 653.39 679.346 656.565 675.522 659.263C674.569 659.937 671.182 660.88 672.16 660.244C691.732 647.523 715.729 641.398 735.76 628.864C772.968 605.583 801.905 574.697 812.529 530.242C824.206 481.382 1134.38 235.835 1101.9 196.341M597.353 442.5C748.087 505.17 321.422 457.691 653.431 275.902C665.579 308.575 696.77 477.148 725.394 495.78C765.098 521.626 1130.84 655.886 1177.09 644.554C1183.66 642.943 872.977 513.926 862.68 508.668C848.989 501.677 830.732 505.634 816.732 508.388C764.605 518.643 722.629 537.315 678.604 566.105C652.59 583.116 638.614 746.21 612.483 763.044C602.481 769.488 585.933 625.848 597.353 621.019C633.19 605.867 670.301 594.488 707.322 582.635C735.294 573.679 763.195 564.229 791.796 557.419C804.362 554.427 822.806 548.406 836.204 549.854C840.41 550.309 808.998 591.714 807.626 593.702C786.242 624.681 772.313 661.104 786.472 698.628M798.52 702.551C767.848 677.558 730.076 661.599 693.314 648.196C639.018 628.401 559.687 705.261 502.311 698.628C463.849 694.182 222.811 701.424 184.068 702.551C172.14 702.897 382.343 603.988 371.25 609.812C369.448 610.758 359.978 618.904 366.487 620.319C391.338 625.721 430.483 608.307 451.941 598.045C460.29 594.052 337.92 150.847 316.965 137.227M435.131 620.459C435.262 623.761 441.14 641.815 439.053 644.554C430.85 655.32 405.382 659.612 393.384 662.766C378.336 666.721 279.565 601.307 266.808 609.812'
					class='stroke-primary'
					stroke-opacity='0.1'
					stroke-width='100'
					stroke-linecap='round'></path>
			</g>
		</g>
		<defs>
			<filter
				id='filter0_f_2001_127'
				x='-108.013'
				y='-65.9985'
				width='1655.23'
				height='1028.99'
				filterUnits='userSpaceOnUse'
				color-interpolation-filters='sRGB'>
				<feFlood flood-opacity='0' result='BackgroundImageFix'></feFlood>
				<feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'></feBlend>
				<feGaussianBlur stdDeviation='75' result='effect1_foregroundBlur_2001_127'></feGaussianBlur>
			</filter>
			<clipPath id='clip0_2001_127'>
				<rect width='1440' height='900' fill='white'></rect>
			</clipPath>
		</defs>
	</svg>

	<div
		class='size-full bg-repeat opacity-5 block'
		style={`background-image: url(${optimizedNoiseImg.src}); background-size: 300px 200px;`}>
	</div>
</div>
