---
import Background from './Background.astro'
import HeaderNav from './HeaderNav.astro'
import Logo from './Logo.astro'
import HeaderMobileMenuDialog from './header/HeaderMobileMenuDialog.astro'
---

<header class='w-full lg:w-48 xl:w-56 shrink-0 border-b lg:border-b-0 lg:border-r sticky z-20 top-0 h-16 lg:h-screen'>
	<div class='relative px-6 lg:p-14 lg:pl-0 size-full'>
		<div class='lg:hidden absolute inset-0 size-full bg-secondary'>
			<Background type='header' />
		</div>

		<div class='relative h-full flex items-center lg:items-start justify-between lg:flex-col'>
			<!-- Logo -->
			<div class='flex h-full lg:h-auto items-center'>
				<Logo />
			</div>

			<div class='hidden lg:block h-full'>
				<HeaderNav />
			</div>
			<div class='lg:hidden'>
				<HeaderMobileMenuDialog id='headerMobileMenuDialog' />
			</div>
		</div>
	</div>
</header>
