<a href='/' title='Home' class='relative group'>
	<div
		class='absolute -left-4 lg:-left-5 -top-1 lg:-top-4 mask-[linear-gradient(to_bottom,rgba(0,0,0,0.12),rgba(0,0,0,0.03))] transition-transform group-hover:-translate-x-1 group-active:-translate-x-2'>
		<svg
			class='size-10 lg:size-20'
			width='91'
			height='91'
			viewBox='0 0 91 91'
			fill='none'
			xmlns='http://www.w3.org/2000/svg'>
			<path
				d='M15.1224 90.4112C10.3315 90.4112 6.42383 86.5035 6.42383 81.7126C6.42383 76.9218 10.3315 73.0141 15.1224 73.0141C19.9132 73.0141 23.8209 76.9218 23.8209 81.7126C23.8209 86.5035 19.9132 90.4112 15.1224 90.4112ZM23.8744 3.96117H23.8209C14.2124 3.96117 6.42383 11.7497 6.42383 21.3582V28.0494C13.6235 24.8376 33.2421 21.3582 66.3768 21.3582C75.9853 21.3582 83.7738 13.5697 83.7738 3.96117V0.214111C76.5741 2.08764 56.9824 3.96117 23.8744 3.96117V3.96117ZM23.8209 38.4876C14.2124 38.4876 6.42383 46.2762 6.42383 55.8847V62.5759C10.5991 59.3641 21.9741 55.8847 41.2179 55.8847C50.8265 55.8847 58.615 48.0962 58.615 38.4876V34.7406C54.4397 36.6141 43.0647 38.4876 23.8209 38.4876Z'
				class='fill-primary'></path>
		</svg>
	</div>

	<p class='relative font-sans text-[22px] lg:text-[24px]'>
		madeby<span class='font-semibold'>fabian</span>
	</p>
</a>
